@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,300;1,500&display=swap');
@font-face {
  font-family: 'Sassy Frass';
  src: url('../assets/fonts/Sassy_Frass/SassyFrass-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: 'Sonsie One', cursive;
  /* background-color: #94acb0; */
}

#webgl-canvas {
  outline: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo{
  z-index: 0;
  color: rgb(218, 242, 214);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20vw;
  padding: none;
  transform: translate(-50%,-50%);
  /* stroke: #0e0e0e;
  -webkit-text-stroke-width: 0.001rem;
  -webkit-text-stroke-color: #0e0e0e; */
}
.name{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 14px;
  opacity: 0.7;
}
.cta{
  font-family: 'Poppins', sans-serif;
  z-index: 3;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: 30px;
  right: 40px;
  text-decoration: none;
  color: #0e0e0e;
  background-color: #ffffffb5;
  padding: 5px 25px;
  border: 1px solid #0e0e0e;
  border-radius: 2px;
  transition: all 0.3s ease;
  border-radius: 50px;
  /* letter-spacing: -1px; */
}
.cta:hover{
  background-color: #abcaa9;
  /* color: rgb(228, 228, 228); */
}

.socials{
  position: absolute;
  top: 30px;
  left: 25px;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
.socials li{
  cursor: pointer;
  color: #0e0e0e;
  list-style: none;
  border: 1px solid #0e0e0e;
  background-color: #ffffffb5;
  padding: 4px 5px 0px 5px;
  margin: 0 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.socials li:hover{
  background-color: #abcaa9;
}
.socials li img{
  width: 20px;
  height: 20px;
}
.enterSceneContainer{
  font-family: 'Poppins', sans-serif;
  z-index: 4;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  background-color: #a4a0a075;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}
.enterSceneContainer p{
  cursor: pointer;
  margin: 50vh auto;
  background-color: #ffffff;
  padding: 20px 40px;
  width: 300px;
  border-radius: 50px;
  color: #abcaa9;
  transition: all 0.3s ease-in-out;
}
.enterSceneContainer p:hover{
  background-color: #abcaa9;
  color: #ffffff;
}
.playbackControls{
  z-index: 3;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
}
.playbackControls button{
  border: none;
  background-color: #dfdede00;
  cursor: pointer;
  margin: 20px;
  border-radius: 50%;
  padding: 5px 5px 2px 5px;
  display: none;
}
#toggleSound{
  z-index: 1
}
button img{
  width: 20px;
  height: 20px;
}
#pause,#soundOn{
  display: block;
}

#boink{
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  color: #fefefe;
  padding: 2px 10px;
  font-size: 20px;
  transform: scale(2);
}
.vignette{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: radial-gradient(circle, rgba(255,255,255,0) 31%, rgb(6 140 120 / 43%) 99%);
  z-index: 2;
}
@media screen and (max-width:800px) {

  .cta{
    top: 20px;
    right: 20px;
  }
  .name{
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    transform: translateX(0);
    font-size: 10px;
    opacity: 0.7;
  }
  .socials{
    top: 20px;
    left: 20px;
  }
  .socials li{
    padding: 4px 2px -1px 2px;
    margin: 0;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
}